<div class='some-page-wrapper'>
<mat-toolbar color="primary">
  <span>Items Page</span>
</mat-toolbar>
  <div class='row'>
    <div class='column'>
      <workspace01-items-list
        class="list"
        [items]="items$ | async"
        (selected)=selectItem($event)
      ></workspace01-items-list>
    </div>
    <div class='column'>
      <workspace01-item-detail
        class="detail"
        [item]="selectedItem"
        (saved)="saveItem($event)"
        (cancelled)="cancel()"
        (deleted)="deleteItem($event)"
      ></workspace01-item-detail>
    </div>
  </div>
</div>
